.footer {
  background-color: #e2e2e2;
  padding: 70px 0;

  @include responsiveFor(800px) {
    padding: 25px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include containerCentered();

    @include responsiveFor(1200px) {
      flex-direction: column;
    }

    h2 {
      font-family: "Montserrat";
      font-family: bold;
      font-size: 29px;
      color: #494949;

      @include responsiveFor(1400px) {
        font-size: 23px;
      }

      @include responsiveFor(1200px) {
        margin-bottom: 30px;
      }

      @include responsiveFor(800px) {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }

    button {
      font-family: "Montserrat";
      font-weight: bold;
      height: 60px;
      outline: none;
      border: none;
      color: #fff;
      padding: 12px 25px;
      background-color: #1a9bdc;
      font-size: 18px;
      border-radius: 28px;
      text-transform: uppercase;
      margin-left: 180px;

      @include responsiveFor(1400px) {
        height: 45px;
      }

      @include responsiveFor(1200px) {
        margin: 0 auto;
      }

      @include responsiveFor(800px) {
        height: 30px;
        padding: 5px 10px;
        font-size: 10px;
        border-radius: 20px;
      }
    }
  }
}
